* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: gray;
  overflow: hidden;
}

.main {
  margin: auto;
  background-color: white;
  width: 1100px;
  height: 100vh;
  h1 {
    margin-bottom: 50px;
    padding-top: 10px;
  }
}
.slider-images {
  position: relative;
  right: 1200px;
  display: flex;
  display: inline-block;
  width: 2000px;
}

.slider-image {
  height: 150px;
}

.arrow {
  width: 100px;
  height: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
  div {
    display: inline-block;
    img {
      border-radius: 10px;
    }
  }
}
