* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: gray;
  overflow: hidden;
}

.main {
  margin: auto;
  background-color: white;
  width: 1100px;
  height: 100vh;
  h1 {
    margin-bottom: 50px;
    padding-top: 10px;
  }
}
.slider-images {
  position: relative;
  right: 100%;
  display: flex;
  display: inline-block;
  width: 2000px;
}

.row {
  display: block;
  width: fit-content;
}

.slider-image {
  height: 150px;
}

.arrow {
  width: 100px;
  height: 100px;
}
